/* 
GREEN COLOR: #96BCAA
ORANGE COLOR: #D9A23A
*/

/* GREEN SHAPES */
 #circ-left {
    width: 714px;
    height: 571px;
    background: #96BCAA;
    border-radius: 50%;
    position: absolute;
    rotate: 350.11deg;
    top: 750px;
    left: 900px;
 }

 #circ-mid {
    width: 714px;
    height: 571px;
    background: #96BCAA;
    border-radius: 50%;
    position: absolute;
    rotate: 42.16deg;
    top: 650px;
    left: 1300px;
 }

 #circ-right {
    width: 400px;
    height: 400px;
    background: #96BCAA;
    border-radius: 50%;
    position: absolute;
    rotate: 350.11deg;
    top: 450px;
    left: 1700px;
 }

 #circ-orange {
    width: 675px;
    height: 625px;
    background: #D9A23A;
    border-radius: 50%;
    position: absolute;
    rotate: 350.11deg;
    top: -450px;
    left: -200px;
 }