/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* BODY */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FEFEDF;
}

/*
=======
NAV BAR
=======
*/

/* GENERAL */
#navbar {
    display: flex;
    justify-content: space-between;
}

/* LISTS */
#navbar ul {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

/* ABOUT | SERVICES */
#navbar #about-services {
    width: 236px;
}

/* PORTFOLIO | CONTACT */
#navbar #portfolio-contact {
    width: 263px;
}

/* LIST ITEMS */
#navbar ul li {
    list-style: none;
    font-size: 1.5rem;
   
}

/* NAVBAR LINKS */
#navbar ul li a {
    color: #000;
    padding: 5px 7px 13px;
    /* BORDER LINES */
    background-image: linear-gradient(#D9A23A, #D9A23A);
    background-size: 50px 2px;
    background-position: bottom center;
    background-repeat: no-repeat;
    transition: .5s ease;

}

/* HOVER */
#navbar ul li a:hover {
    color: #96BCAA;
}

/* ABOUT | SERVICES LINKS */
#navbar ul .border-white {
    background-image: linear-gradient(#fff, #fff);
    background-size: 50px 2px;
    background-position: bottom center;
    background-repeat: no-repeat;
}

/* LOGO */
#navbar h2 {
    font-size: 3.5rem;
    font-family: 'Delicious Handrawn', sans-serif;
    padding-top: 10px;

}

#navbar h2 a {
    color: #96BCAA;
    transition: .5s ease;
}

#navbar h2 a:hover {
    color: #D9A23A;
}

/* HOME LANDING PAGE */